
@media screen and (max-width: 1024px) {
  #macbook {
    width: 750px;
    height: 395px;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    /*
    margin-bottom: -20px;
    */
    position: static;
  }
  #tour {
    width: 518px;
    height: 330px;
    top: 18px;
  }
  #tour .carousel-inner img {
    /* width: 518px; */
    height: 330px;
  }
  .jumbotron {
    margin-bottom: 1em;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

		/* Banner Styles */
		.banner {  
			padding-top: 10px;
			padding-left: 10px; 
		}
		
		/* .banner-head { 
			font-size:2.5em;
		} */
		
		h1{
			font-size: 2.5em
		}
		h2{
			font-size: 1.5em
		}

		/* Work Item Styles */		
		.l-box-left, .l-box-right { 
			padding:20px;
		}
		
		.caption-inner  {
			padding:45px 0 0 0;
		}
		
		.caption-inner h3 { 
			font-size:1em;
		}
		
		#menu {
			width:1.4em;
			display: block;
			font-size:1.5em;
			text-align: center;
			float:right;
			margin-top:25px;
			padding-right:15px;
			color:#d1d0d0;
		}
	
		#menu:hover { 
			cursor:pointer;
		}
		#nav.js {
			display: none;
		}
		ul#nav {
			width:100%;
			background: white;
			height: auto;
			z-index: 1000;
			position: absolute;
			top: 83px;
			border-top:1px solid #f2f2f2;	
			border-bottom:1px solid #f2f2f2;
		}	
		ul#nav li {
			width:96%;
			margin:0 2%;
			border-right:none;
			padding:0;
		}
		
		ul#nav li a { 
			padding:10px;
			
		}
		
		ul#nav li:first-child  {
			padding-top:10px;
		}
	
		ul#nav li:last-child  {
			padding-bottom:20px;
			padding-top:10px;
		}
		
	  	/* Footer Styles */
  	
  	.footer { 
	  	padding:20px;
	  	height:auto;
  	}
  		

}


/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media (max-width: 767px) { 

		/* Main Nav */
		.pure-menu.pure-menu-horizontal > ul { 
			/* display:none; */
		}

		/* Banner Styles */
		.banner { 
			padding-top: 10px;
			padding-left: 10px; 
		}
		
		/* .banner-head { 
			font-size:2.5em;
		} */
		
		h1{
			font-size: 2em
		}
		h2{
			font-size: 1em
		}

		#menu {
			width:1.4em;
			display: block;
			font-size:1.5em;
			text-align: center;
			float:right;
			margin-top:25px;
			padding-right:15px;
			color:#d1d0d0;
		}
	
		#menu:hover { 
			cursor:pointer;
		}
		#nav.js {
			display: none;
		}
		ul#nav {
			width:100%;
			background: white;
			height: auto;
			z-index: 1000;
			position: absolute;
			top: 83px;
			border-top:1px solid #f2f2f2;	
			border-bottom:1px solid #f2f2f2;
		}	
		ul#nav li {
			width:94%;
			margin:0 2%;
			border-right:none;
			padding:0;
		}
		
		ul#nav li a { 
			padding:10px;
			
		}
		
		ul#nav li:first-child  {
			padding-top:10px;
		}
	
		ul#nav li:last-child  {
			padding-bottom:20px;
			padding-top:10px;
		}

  	/* Page Nav Styles */
  	.page-nav { 
	  	margin-top:50px;
	  	margin-bottom:100px;
  	}
   	
		/* Work Styles*/
   	.tile li { 
    	width:50% !important;
  	}
  	
		/* Work Item Styles */		
		.l-box-left, .l-box-right { 
			padding:20px;
		}
		
  	/* Footer Styles */
  	.footer { 
	  	padding:20px;
	  	height:auto;
  	}

	   #macbook {
	    width: 500px;
	    height: 265px;
	    background-size: 100%;
	    margin-left: auto;
	    margin-right: auto;
	    /* margin-bottom: -56px; */
	    position: static;
	  }
	  #tour {
	    width: 344px;
	    height: 217px;
	    top: 12px;
	    left: 1px;
	  }
	  #tour .carousel-inner img {
	    /* width: 344px; */
	    height: 217px;
	  }
	  .jumbotron {
	    font-size: 14px;
	    padding: 1em 0 4em;
	  } 	
  	
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (max-width: 500px) { 

		/* Main Nav */
		.pure-menu.pure-menu-horizontal > ul { 
		/* 	display:none; */
		}

		/* Banner Styles */
		.banner { 
		padding-top: 8px;
		padding-left: 8px; 
		padding-bottom: 10px;
		}

		/* .banner-head { 
		font-size:1.5em;
		} */

		h1{
			font-size: 1.5em;
		}
		h2{
			font-size: 1em;
		}
		h3{
			font-size: 1em;
		}

		#menu {
		width:1.4em;
		display: block;
		font-size:1.5em;
		text-align: center;
		float:right;
		margin-top:25px;
		padding-right:15px;
		color:#d1d0d0;
		}

		#menu:hover { 
		cursor:pointer;
		}
		#nav.js {
		display: none;
		}
		ul#nav {
		width:100%;
		background: white;
		height: auto;
		z-index: 1000;
		position: absolute;
		top: 83px;
		border-top:1px solid #f2f2f2;	
		border-bottom:1px solid #f2f2f2;
		}	
		ul#nav li {
		width:90%;
		margin:0 5%;
		border-right:none;
		padding:0;
		}

		ul#nav li a { 
		padding:10px;

		}

		ul#nav li:first-child  {
		padding-top:10px;
		}

		ul#nav li:last-child  {
		padding-bottom:20px;
		padding-top:10px;
		}

		/* Work Styles*/
		.tile li { 
		   width:100% !important;
		 }

		/* Work Item Styles */		
		.l-box-left, .l-box-right { 
		padding:20px;
		}

		/* Page Nav Styles */
		.page-nav { 
		margin-top:50px;
		margin-bottom:100px;
		}

		/* Footer Styles */
		.footer { 
		padding:20px;
		height:auto;
		}

		.footer ul {
		float:left;
		padding:0;
		margin:0 0 20px 0;
		}

		.footer ul li {
		display:block;
		float:left;
		width:100%;
		margin-left:0;
		} 	  

		#macbook {
		background-image: none;
		text-align: center;
		width: 100%;
		}
		#tour {
		top: 0;
		left: 0;
		width: 100%;
		max-width: 300px;
		height: 189px;
		margin-left: auto;
		margin-right: auto;
		}
		#tour .carousel-inner img {
		/* max-width: 300px; */
		height: 189px;
		overflow: hidden;
		}
		.jumbotron {
		font-size: 12px;
		padding-bottom: 1em;
		}

}

